/**
 * Reset all elements
 */
* {
    margin: 0;
    padding: 0;
}

/**
* Body styling
*/
body {
    background: url(../image/wallpaper.jpeg) no-repeat center fixed;
    background-size: cover;
    background-color: black; /* If image is unavailable */
    color: white;
}


/**
* Menu styling
*/
#menu {
    text-align: center;
}

#menu img {
    width: 70px;
}

#menu img:hover {
    width: 80px;
}


/**
* Window styling
*/
.window {
    max-height: 400px;
    max-width: 400px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: white;
    color: black;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    margin-bottom: 5px;
}

.window img {
    width: 30px;
}

.window h3 {
    display: inline;
    margin-top: -5px;
}

.active {
    background-color: #8AB8A4;
}


/**
* Memory styling
*/
.memory img {
    width: 70px;
}

.removed {
    visibility: hidden;
}

.result, .timer {
    padding-left: 5px;
    font-family: monospace;
    font-weight: bold;
}


/**
* Chat styling
*/
.chat {
    height: 300px;
    width: 250px;
    padding: 5px 5px;
    font-family: monospace;
}

.message .author {
    font-weight: bold;
    color: cyan;
}

.messages {
    position: absolute;
    width: 245px;
    left: 10px;
    right: 10px;
    top: 50px;
    bottom: 70px;
    overflow: auto;
    overflow-x: hidden;
}

.chat .messageArea {
    position: absolute;
    top: 280px;
    width: 238px;
    margin: 5px 0;
    padding: 5px;
    height: 40px;
}


/**
* About styling
*/
.about {
    padding: 5px;
    display: block;
}


/**
* Button styling
*/
.button {
    background-color: white;
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    margin: 0 5px 5px 5px;
    float: right;
}
.button:hover {
    background-color: black;
    color: white;
}


video {
  width: 320px;
  height: 180px;
  background: rgba(255,255,255,0.5);
  border: 1px solid #ccc;
  margin: 5px auto;
  display: block;
}
.pinkish {
  filter: brightness(1) sepia(8) contrast(300%) blur(0.4px) invert(.2) hue-rotate(300deg);
}
.grayscale {
  filter: grayscale(100%);
}
.sepia {
  filter: sepia(100%);
}
.blur {
  filter: blur(5px);
}
.saturate {
    filter: saturate(5);
}
.huerotate {
    filter: hue-rotate(90deg);
}
.invert {
    filter: invert(100%);
}
.brightness {
    filter: brightness(150%);
}
.contrast {
    filter: contrast(200%);
}
